
<% if user_signed_in? %>
   <div class="navbar">
     <div class="nav_link_wrapper">
       <a><%= link_to "Home", '/' %></a>
       <a><%= link_to "About", about_path %></a>
       <a><%= link_to "Gallary", gallary_path %></a>
       <a><%= link_to "Contact", contact_path %></a>
       <a><%= link_to "My Profile", profile_path %></a>
     </div>
   </div>
<% else %>
  <div class="navbar">
    <div class="nav_link_wrapper">
      <a><%= link_to "Home", '/' %></a>
      <a><%= link_to "About", about_path %></a>
      <a><%= link_to "Gallary", gallary_path %></a>
      <a><%= link_to "Contact", contact_path %></a>
    </div>
  </div>
<% end %>