<!DOCTYPE html>
<html>
  <head>
    <title>ArtGallary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<!--  <div class="social_media">-->
    <%#= link_to "https://www.facebook.com/shokhershilpokormo/?ref=bookmarks" do %>
      <%#= image_tag 'fb.png' %>
    <%# end %>
<!--  </div>-->
  <footer>

     SyedaIsmatFarjana | Melbourne, Australia | Copyright &copy; 2020 | All rights reserved
  </footer>
    <%= yield %>
  </body>
</html>
